mixin officer-card(officer)
  .card
    .card-img-top
      img#offImg.img-responsive(src='images/officers/'+officer.img)
    .card-block
      h3 #{officer.name}
      h5
        | #{officer.title} 
        a(href='mailto:"#{officer.email2}"') #{officer.email2}
      p
        //| #{officer.desc}